@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

header .container {
    margin: 5px 0 0 0;
}

/***** Colors *****/

h2 {
    color: #e63900;
    margin: 2%;
}


form {
    color: #e63900
}

form .btn, #modelBtn {
    color:#fff;
    background-color: #e63900;
    border-color: #000;
}

form .btn:active, #modelBtn:active {
    color:#fff;
    background-color: #000;
}

/* Header */

.bgImg {
    background: url("../images/girlBack.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/***** Jumbotron *****/

.jumbotron {
    position: relative;
    background-color: transparent;
    height: 100vh;
    text-shadow: 1px 1px white;
    padding-left: 7%;
    overflow: hidden;
}

.jumbotron .page-header {
    text-transform: uppercase;
    color: #e63900;
    font-weight: 700;
    font-size: 4em;
    padding-top: 20vh;
}

.jumbotron .lead {
    position: relative;
    color: white;
    width: 55vw;
    word-spacing: 0.5em;
    text-shadow: none;
}

.jumbotron .leadBtn .btn {
    font-weight: 200;
    color:#fff;
    word-spacing: 0;
    background-color: #e63900;
    border: none; 
}

.jumbotron .leadBtn .btn:active {
    font-weight: 200;
    color:#fff;
    word-spacing: 0;
    background-color: #000;
}

.jumbotron .leadBtn {
    padding-top: 2%;
}

.jumbotron .lead .jumboSpan {
    color: #e63900;
    word-spacing: 0;
    width: 30vw;
}

/***** Navbar *****/

 .navbar-toggler:focus, 
 .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

    /*https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 57, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-dark .navbar-toggler {
    border-color: rgba(230, 57, 0, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
    background-color: rgba(0,0,0, 0.4);
    width: 30%;
    color: #fff;
    padding: 5%;
}

.navbar-dark .navbar-nav .nav-link:active, 
.navbar-dark .navbar-nav .nav-link:hover  {
    color: #e63900;
}

/***** Testamonial Section *****/

.testamonials h2 {
    padding: 2% 0 2% 0;
}

/***** Classes Section *****/

.bgClassImg{
    background: url("../images/gymRoom.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.bgClassImg .container h2 {
    padding: 2% 0 0 0;
}

#classes .container .card .btn.btn-primary.btn-sm {
    color: #fff;
    background-color: #e63900;
    border-color: #000;
}

#classes .container .card .btn.btn-primary.btn-sm:active {
    color: #fff;
    background-color: #000;
}

/***** About Section *****/
.about {
    padding: 5vh;
}

.about h2 {
    margin-bottom: 5%;
}

p span.day {
    color: #e63900;
}

p.address {
    margin: 1px;
}

/***** Contact Section *****/

.bgContactImg {
    background: url("../images/equipment.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.bgContactImg .container h2 {
    padding-top: 15vh;
}

.bgContactImg .container .row {
    padding-top: 5vh;
}

/***** Footer Section *****/

.fab {
    padding: 15px;
    font-size: 3em;
    color: #e63900;
}

footer.container{
    background-color: #000;
}

/* Opacity */

.opacityShade {
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    height:inherit;
    width: 100%;
    z-index: 1;
}

.elementOverShade {
    position: relative;
    z-index: 10;
}

/* Media Queries */
/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (min-width: 320px){
    .jumbotron .page-header {
        padding-top: 10vh;
    }

    .bgContactImg .container h2 {
        padding-top: 10vh;
    }

}

@media only screen and (min-width: 425px) and (orientation: portrait){
    .about {
        height: 55vh;
        padding: 9vh;
    }
}

@media only screen and (min-width: 568px) and (orientation: landscape){
    .bgContactImg{
        height: 150vh;
    }
}

@media only screen and (min-width: 640px) and (orientation: landscape){
    .bgContactImg{
        height: 130vh;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        width: 12%;
        padding: 1%;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    .testamonials{
        height: 50vh;
        padding-top: 3vh;
    }
}

@media only screen and (min-width: 992px){
    .bgClassImg .container .row{
        padding-top: 5vh;
    }

    .bgClassImg .container h2 {
        padding-top: 10vh;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape){
    .bgContactImg{
        height: 100vh;
    }
}

@media only screen and (orientation:landscape) and (max-width: 1200px){
    .jumbotron .page-header {
        padding-top: 2%;
    }

    .jumbotron .lead {
        padding-top: 2%;
    }
}