@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.container {
    margin-top: 5vh;
}

/* Header */

.bgImg {
    background: url("../images/girl_back.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.jumbotron {
    position: relative;
    background-color: transparent;
    height: 100vh;
    text-shadow: 1px 1px white;
    padding-left: 7%;
    overflow: hidden;
}

.jumbotron .page-header {
    text-transform: uppercase;
    color: #e63900;
    font-weight: 700;
    font-size: 4em;
    top: 20%;
}

.jumbotron .lead {
    position: relative;
    color: white;
    width: 30vw;
    text-align: center;
    word-spacing: 0.5em;
    text-shadow: none;
    top: 20vh;
}

.jumbotron .lead .jumboSpan {
    color: #e63900;
    width: 30vw;
}

.jumbotron .btn {
    color:#fff;
    word-spacing: 0;
    background-color: #e63900;
    border: none;
}