@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.container {
    margin-top: 5vh;
}

/* Header */

.bgImg {
    background: url("../images/girl_back.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/***** Jumbotron *****/

.jumbotron {
    position: relative;
    background-color: transparent;
    height: 100vh;
    text-shadow: 1px 1px white;
    padding-left: 7%;
    overflow: hidden;
}

.jumbotron .page-header {
    text-transform: uppercase;
    color: #e63900;
    font-weight: 700;
    font-size: 4em;
    padding-top: 20vh;
}

.jumbotron .lead {
    position: relative;
    color: white;
    width: 50vw;
    text-align: center;
    word-spacing: 0.5em;
    text-shadow: none;
    padding-top: 2%;
}

/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (orientation:landscape) {
    .jumbotron .page-header {
        padding-top: 2%;
    }

    .jumbotron .lead {
        padding-top: 2%;
    }
}

.jumbotron .leadBtn .btn {
    font-weight: 200;
    color:#fff;
    word-spacing: 0;
    background-color: #e63900;
    border: none; 
}

.jumbotron .lead .jumboSpan {
    color: #e63900;
    width: 30vw;
}

/***** Navbar *****/

 .navbar-toggler:focus, 
 .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }